{% extends 'layout/layout.html' %}
{% block style %}{% endblock %}
<style>

</style>
{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $('button[id^="test2"]').click(function() {
            var regionId = $(this).attr('name');
            $.ajax({
               url : '/event/get_theaters/',
               type: 'GET',
               data : {'region_id':regionId},
            success: function(data) {
                var theatersHTML = '<ul>';
                $.each(data.theaters, function(index, theater) {
                    theatersHTML += '<li><a href="#" >' + theater.name + '</li>'+'href=?no='+theater.no+'>';
                });
                theatersHTML += '</ul>';
                $('#output').html(theatersHTML);
            }
               
            });
        });
    });
</script>
{% endblock %}
{% block content %}  
    <div id="justify-content-center">
    {% for i in rl %}
    <button id="test2{{i.no}}" name="{{i.no}}">{{i.no}}{{i.name}}</button>
    {% endfor %}   
    </div>
<div id="output"></div> <!-- 클릭된 요소의 name 값이 여기에 출력됩니다 -->

{% endblock %}