{% extends 'layout/layout.html' %}


{% block style %} 
<!-- flex 요소 정렬하기 참고사이트 https://hyerin-shin.tistory.com/45 -->
    <style>
        #full {
            display: flex;
            flex-direction : row
        }

        #screen_movie {
            width: 250px;
            height: 600px;
            background-color: rgb(230, 218, 218);
        }
        #screen_th {
            width: 350px;
            background-color: rgb(224, 149, 193);
            display: flex;
            flex-direction: column; 
        }
        #div2 {
            width: 170px;
            display: flex;
            flex-direction: row; 
        }
        .div2_child {
            width: 170px;
        }

        #screen_date {
            width: 80px;
            height: 600px;
            background-color: rgb(255, 251, 0);
        }

        #screen_time {
            width: 200px;
            height: 600px;
            background-color: rgb(102, 255, 0);
        }

        .button {
            background-color: rgb(228, 243, 218);
        }
        #region {
            background-color: rgb(243, 218, 228);
        }
        .hidden {
                display: none;
            }
        .notonmovie {
            color:#d2dbd2;
        }
        .onmovie {
            color: black;
        }

        .input_date, .button_movie, .button_region, .button_theater {
            border: 0px;
        }

        #info0 {
            float: left; /* 필수, 왼쪽 정렬*/
            width : 1%;
            height : 130px;
        }
        #info0_1, #info0_2 {
            float: left; /* 필수, 왼쪽 정렬*/
            width : 25%;
            height : 130px;
            background-color: rgb(243, 218, 228);
        }
        #info0_3 {
            float: left; /* 필수, 왼쪽 정렬*/
            width : 25%;
            height : 130px;
            background-color: rgb(243, 218, 228);
        }
        #info0_4 {
            float: left; /* 필수, 왼쪽 정렬*/
            width : 8%;
            height : 130px;
            background-color: rgb(243, 218, 228);
        }
        #info0_5 {
            float: left; /* 필수, 왼쪽 정렬*/
            width : 8%;
            height : 130px;
            background-color: rgb(243, 218, 228);
        }

        .hrline {width:50px; border:1px; }
    </style>
{% endblock %}

{% block content %}
    <div id ="full">
        <div id="left" style="width: 50px; margin: 0px auto;"> </div>

        <div id="screen_movie" style="width: 280px; margin: 0px auto;">
            <table style="width: inherit; margin: 5px auto;">
                <tr align="center">
                    <th > 영화 </th>
                </tr>
                {% for ml in movie_list %}
                    <tr>
                        <td>
                            <button class="button_movie" type="button" value="{{ml.no}}">{{ ml.krname }}</button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td style="text-align: center;">
                            영화 목록이 존재하지 않습니다.
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div id="screen_th" style="margin: 0px auto;">
            <div id="div1" >
                <table style="width: 320px; margin: 5px auto;">
                    <tr align="center">
                        <th>극장</th>
                    </tr>
                </table>
            </div>

            <div id="div2">
                <div class="div2_child">
                    <table id="region" style="width:150px; margin: 5px auto;">
                        {% for rl in region_list %}
                            <tr align="left">
                                <td >    <!-- list 형태의 데이터 값을 참조할 때 표현방법 유의 -->
                                    <button class="button_region" type="button" value="{{rl.0}}">{{ rl.1 }}({{ rl.2 }})</button>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td style="text-align: center;">
                                    지역 목록이 존재하지 않습니다.
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="div2_child">
                    <table id="theater" style="width:150px; margin: 5px auto;">
                        {% for tl in th_list %}
                        <tr align="left">
                            <td >    <!-- list 형태의 데이터 값을 참조할 때 표현방법 유의 -->
                                <button class="button_theater" type="button" value="{{tl.0}}">{{ tl.1 }}</button>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td style="text-align: center;">
                                극장 목록이 존재하지 않습니다.
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
        </div>    

        <div id="screen_date" style="width: 130px; margin: 0px auto;">
            <table id="table_date" style="width: inherit; margin: 5px auto;">
                <tr align="center">
                    <th>날짜</th>
                </tr>
                <tr align="center">
                    <td><b>{{date_list1.0.1}}년 {{date_list1.0.2}}월</b></td>
                </tr>
                <tbody id="tbody1_date">
                    {% for dl1 in date_list1 %}
                        <tr align="center">
                            <td >    <!-- list 형태의 데이터 값을 참조할 때 표현방법 유의 -->
                                <input class="input_date" type="button" value="{{ dl1.0 }}({{ dl1.4 }})">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                    <tr align="center">
                        <td><b>{{date_list2.0.1}}년 {{date_list2.0.2}}월</b></td>
                    </tr>
                <tbody id="tbody2_date">
                    {% for dl2 in date_list2 %}
                        <tr align="center">
                            <td >    <!-- list 형태의 데이터 값을 참조할 때 표현방법 유의 -->
                                <input class="input_date" type="button" value="{{ dl2.0 }}({{ dl2.4 }})">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="screen_time" style="width: 400px; margin: 0px auto;">
            <table style="width: inherit; margin: 5px auto;">
                <tr align="center">
                    <th>상연 시간</th>
                </tr>
                <tbody id="tbody_screentime">
                    {% for sl in schedule_list %}
                        <tr align="center">
                            <td >    <!-- list 형태의 데이터 값을 참조할 때 표현방법 유의 -->
                                <button class="button_screentime" type="button" value="{{sl.0}}"> {{sl.1}},({{ sl.2 }}), {{sl.6}}, {{sl.7}}, {{sl.9}}, {{sl.10}},{{sl.11}}, {{sl.12}}, {{sl.13}} </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="right" style="width: 10px; margin: 0px auto;">
        </div>
    </div>  <br>
      
    <div id ="info0"></div> 
    <div id="info0_1"> 영화선택 
        <div id="info1"> </div>
    </div> 
    <div id="info0_2"> 극장선택 
        <div id="info2"></div>
        <div id="info2_2"></div>  
        <div id="info2_3"></div>
        <div id="info2_4"></div>
    </div> 
    <div id="info0_3"> 좌석선택
        <div id="info3"> </div>    
    </div> 
    <div id="info0_4"> 결제금액
        <div id="info4"> </div>
    </div> 
    <div id="info0_5"> 선택버튼
        <div id="info5">  
            <button onclick="javascript:openSeatImg()" ><img id="select_img" src="/media/ticket/select_seat.jpg"></button>
        </div>    
    </div> 

{% endblock %}

{% block script %}
    <script type="text/javascript">
        var screenNameObj = {}; //딕셔너리 타입 전역변수, 상영스케줄 번호 및 상영관 이름 저장
        var click_screentime_no =0; //클릭한 상영스케줄 시퀀스 번호

        function openSeatImg() { 

            const info1 = document.getElementById('info1');
            const info2 = document.getElementById('info2');
            const info2_2 = document.getElementById('info2_2');
            const info2_3 = document.getElementById('info2_3');
            const movie_no = info1.value;
            // const theater_no = info2.value;
            // const date_no = info2_2.value;
            // const screentime_no = info2_3.value;
            console.log("info2_2.innerText");
            console.log(info2_2.innerText);
            console.log("info2_3.innerText");
            console.log(info2_3.innerText);
            // console.log(theater_no);
            // console.log(date_no);
            console.log(click_screentime_no);
            var login = "{{login}}";
            // const login = sessionStorage.getItem("login");
            console.log("login");
            console.log(login);

            if (login === null || login === undefined || login === '') {
                alert("로그인 후 진행하세요.");
                return;                
            }
            if( click_screentime_no.length < 1){ 
                alert("상영스케줄이 선택되지 않았습니다.");
                return;                
            } 
            if( info1.innerText.length < 2){ 
                alert("영화가 선택되지 않았습니다.");
                return;                
            } 
            if( info2.innerText.length < 2){ 
                alert("극장이 선택되지 않았습니다.");
                return;                
            } 
            if( info2_2.innerText.length < 2){ 
                alert("날짜가 선택되지 않았습니다.");
                return;                
            } 
            if( info2_3.innerText.length < 2){ 
                alert("상영스케줄이 선택되지 않았습니다.");
                return;                
            } 


            const mystr = 'seat_sel?movie_no=' + movie_no + '&movie_name=' + '"' + info1.innerText + '"' 
              + '&theater_info=' + '"' + info2.innerText + '"' + '&date_info=' + '"'
              + info2_2.innerText + '"' + '&screentime_no=' + click_screentime_no + '&screen_info=' + '"' + info2_3.innerText + '"';
            console.log(mystr);
            document.location.href=mystr;
            
        }

        //Ajax를 쓰기위한 함수
        // var xhr = null;   static/js 하위에 있음 layout.html 문서에서 load함
        // function getCookie(name) {  

            var xhr = null;

        function getCookie(name) {
            var cookieValue = null;
            console.log("getcookie name!!!");
            console.log(name);
            console.log("document.cookie !!!");
            console.log(document.cookie);
            
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                console.log("cookies !!!");
                console.log(cookies);
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            console.log(cookieValue);
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        

        function makeRequest(mydata){
            console.log("window.ActiveXObject");
            console.log(window.ActiveXObject);
            if(window.ActiveXObject){   // 익스플로어인 경우 T 그 외의 브라우저일 경우 F
                xhr = new ActiveXObject("Microsoft.XMLHTTP")
            }else{
                xhr = new XMLHttpRequest();
            }
            if(!xhr){ // xhr이 없으면
                alert("XMLHTTP 객체를 생성할 수 없습니다.");
                return;                
            } // >>통신을 위한 객체 준비 완료<<     
            //POST 방식으로 데이터 전달
            xhr.open('POST','ajax1/');
            xhr.setRequestHeader('Content-Type',"application/x-www-form-urlencoded");
            xhr.setRequestHeader('X-CSRFToken', csrftoken);
            xhr.onreadystatechange = alertContents;
            console.log("mydata : " + mydata);
            xhr.send('mydata=' + mydata);
        }


        const ScreentimeclickHandler = (event)=>{
            click_screentime_no = event.target.value;
            const info2_2 = document.getElementById('info2_2');
            info2_2.innerText = '일시 : ' + info2_2.value + ' ' 
                + event.target.value + ', ' + event.target.innerText.substring(0, 5);
            const info2_3 = document.getElementById('info2_3'); //상영관 및 상영시간 선택내용 표출
            // info4.innerText = click_screentime_no + ': ' + event.target.innerText.substring(0, 5);
            // info4.value = click_screentime_no;
            info2_3.value = click_screentime_no;
            // info2_3.innerText = '상영관:' + click_screentime_no + ',' + event.target.innerText.substring(0, 5);
            info2_3.innerText = '상영관 : ' + screenNameObj[click_screentime_no];
        }


        function alertContents(){
            // readyState 상태값(0~4) 4(DONE) : 데이터를 다 받은 상태
            console.log(xhr.readyState);
            // let result = document.getElementById('result') //현재 페이지 데이터의 json파일

            if(xhr.readyState === xhr.DONE){ // 데이터 처리가 끝난 후의 행동을 지정한다. 
                console.log(xhr.responseText); //responseText : 넘겨받은 데이터(json파일)
                // json파일 : dic인 문자열 타입>> json 타입으로 변경해 줘야한다                
                let text = JSON.parse(xhr.responseText);
                console.log(text);
                console.log(text["hall_list"]);

                // 기존화면 삭제 후 선택한 내용만 표출
                const tbody_screentime = document.getElementById('tbody_screentime');
                tbody_screentime.innerHTML = ""; //극장 테이블 내용 전부 삭제

                for (let i =0; i < text["hall_list"].length; i++) {  // 영화 극장 일치하는 상영스케줄 모두
                    // console.log("hall_list i !!! ");
                    // console.log(text["hall_list"][i]);
                    // console.log(" hall_list i element count");
                    // console.log(text["hall_list"][i][8]);

                    // 화면에 보여줄 상영관 정보 처리
                    const newTr1 = document.createElement("tr");
                    const newTd1 = document.createElement("td");
                    newTd1.innerHTML = '<hr size=10px width=80% >';
                    newTr1.appendChild(newTd1);
                    tbody_screentime.appendChild(newTr1);

                    const newTr2 = document.createElement("tr");
                    const newTd2 = document.createElement("td");
                    newTd2.innerText = text["hall_list"][i][1] + ', 총좌석:'+ text["hall_list"][i][3];
                    newTr2.appendChild(newTd2);
                    tbody_screentime.appendChild(newTr2);

                    // console.log("text[hall_list][i][8]"); 
                    // console.log(text["hall_list"][i][8]); 

                    for (let k =0; k < text["hall_list"][i][8]; k++) {       
                        // console.log("hall_list element > element ");
                        // console.log(text["hall_list"][i][9][k][0]); 스케줄번호
                        screenNameObj[text["hall_list"][i][9][k][0]] = text["hall_list"][i][0] + ',' + text["hall_list"][i][1]; //스케줄번호에 상영관 시퀀스번호 및 이름 매핑
                        // console.log(text["hall_list"][i][9][k][1]);
                        // console.log(text["hall_list"][i][9][k][2]); 
                        const newTr3 = document.createElement("tr");
                        const newTd3 = document.createElement("td");
                        newTd3.innerHTML = '<button class="button_screentime" type="button" value="' + text["hall_list"][i][9][k][0] + '" >' + text["hall_list"][i][9][k][2] + ', 잔여좌석: ' + text["hall_list"][i][9][k][9] + '</button>';
                        // console.log("inner html");
                        // console.log(newTd3.innerHTML);
                        newTr3.appendChild(newTd3);
                        tbody_screentime.appendChild(newTr3);
                    }
                }
                screentimeBtnList = document.querySelectorAll('.button_screentime'); 
                // console.log("screentimeBtnList");
                // console.log(screentimeBtnList);
                screentimeBtnList.forEach(sbtn => sbtn.onclick = ScreentimeclickHandler);

            }
        }

        var str_to_arr = [];
        function strToArray(mystr, mydeli) {  // 문자열에서 콤마(,)로 구분하여 각 요소를 1차원 배열에 저장 
            str_to_arr = [];                  // 저장된 배열의 내부 값은 str_to_arr 배열주소를 통해 참조
            let pos = 0;
            let foundPos =0;
            let fnd_cnt = 0;
            while(true) {
                foundPos = mystr.indexOf(mydeli, pos);
                let mytrim = "";

                if(foundPos == -1) {
                    if (pos < mystr.length) {
                        tmp_str = mystr.slice(pos, mystr.length);
                        mytrim = tmp_str.trim();
                        tmp_str = mytrim;
                        if (tmp_str[0]=="'" || tmp_str[0] == '"') {
                            tmp_str = tmp_str.slice(1, tmp_str.length - 1);
                            str_to_arr.push(tmp_str);
                        }
                        else {
                            tmp_str = tmp_str.slice(0, tmp_str.length);
                            str_to_arr.push(Number.parseInt(tmp_str));
                        }
                        str_to_arr.push(Number.parseInt('0')); //마지막 요소에 0 셋팅
                    }
                    break;
                }
                tmp_str = mystr.slice(pos, foundPos);
                mytrim = tmp_str.trim();
                tmp_str = mytrim;
                if (tmp_str[0]=="'" || tmp_str[0] == '"') {
                    tmp_str = tmp_str.slice(1, tmp_str.length - 1);
                    str_to_arr.push(tmp_str);
                }
                else {
                    tmp_str = tmp_str.slice(0, tmp_str.length);
                    str_to_arr.push(Number.parseInt(tmp_str));
                }
                pos = foundPos + 1;
                fnd_cnt += 1;
            }
            return fnd_cnt;
        }

        var str_to_dictionary = {};
        function strToDictConv(mystr) {  // 문자열에서 콤마(,)로 구분하여 각 요소를 1차원 배열에 저장 
            str_to_dictionary = {};
            let pos = 0;
            let next_pos = 0;
            let foundPos =0;
            let match_Pos = 0;
            let fnd_cnt = 0;
            let tmp_str = '';
          //  tmp_str = mystr.replace(/\'/gi, "");
            foundPos = mystr.indexOf('{', pos);
            if(foundPos == -1) {
                console.log("error!!! 1");
                return 0;
            }
            match_Pos = mystr.indexOf('}', pos);
            if(match_Pos < 0 || match_Pos < foundPos) {
                console.log("error!!! 2");
                return 0;
            }
            tmp_str = mystr.slice(foundPos+1, match_Pos);
            pos = 0;
            while(true) {
                let save_name = '';
                let save_value = '';
                foundPos = tmp_str.indexOf(':', pos);
                if(foundPos == -1) {
                    if (tmp_str.length > 4) {  // 마지막 키 및 값
                        foundPos = tmp_str.indexOf(':', pos);
                        if (foundPos < 0) {
                            console.log("error!!! 3");
                            return 0;
                        }
                        save_name = tmp_str.slice(0, foundPos);
                        let save_value0 = tmp_str.slice(foundPos+1);
                        save_value = save_value0.replace(/^\s+|\s+$|\'|\"/gi, ""); //앞뒤 공백, 따옴표 제거
                        if (save_name == "'no'") {
                            str_to_dictionary.no = Number.parseInt(save_value);
                        } else if (save_name == "'name'") {
                            str_to_dictionary.name = save_value;
                        } else if (save_name == "'Region_no'") {
                            str_to_dictionary.Region_no = Number.parseInt(save_value);
                        } else {
                            console.log("error!!! 4");
                            return 0;
                        }
                    }
                    return 0;
                }
                let mytrim = tmp_str.slice(pos, foundPos);
                save_name = mytrim.trim();

                match_Pos = tmp_str.indexOf(',', foundPos+1);
                if (match_Pos < 0 ) {
                    mytrim = tmp_str.slice(foundPos+1);
                    save_value = mytrim.trim();
                    if (save_name == "'no'") {
                        str_to_dictionary.no = Number.parseInt(save_value);
                    } else if (save_name == "'name'") {
                        str_to_dictionary.name = save_value;
                    } else if (save_name == "'Region_no'") {
                        str_to_dictionary.Region_no = Number.parseInt(save_value);
                    } else {
                        console.log("error!!! 5");
                        return 0;
                    }
                    return fnd_cnt;
                }
                save_value = tmp_str.slice(foundPos+1, match_Pos);
                
                let save_value1 = save_value;
                save_value = save_value1.replace(/^\s+|\s+$|\'|\"/gi, ""); //앞뒤 공백, 따옴표 제거


                if (save_name == "'no'") {
                    str_to_dictionary.no = Number.parseInt(save_value);
                } else if (save_name == "'name'") {
                    str_to_dictionary.name = save_value;
                } else if (save_name == "'Region_no'") {
                    str_to_dictionary.Region_no = Number.parseInt(save_value);
                } else {
                    console.log("error!!! 6");
                    
                    return 0;
                }
                pos = match_Pos + 1;
                fnd_cnt += 1;
                if (fnd_cnt == 4) {
                    return fnd_cnt;  
                }
            }
            return fnd_cnt;
        }

        //   직렬화된 문자열을 파싱하여 배열로 반환하는 함수 시작 *********************
        var str_to_arr2 = [];
        function strToArray2(mystr) {  
            const new_list = mystr.replace(/&#x27;/gi, "'"); //장고에서 문자열 홑따옴표는 크로스사이트 보안 문제로 이스케이프 문자열로 치환하여 보내주므로 다시 따옴표로 전환해야 함
            const conversion_str = JSON.parse(JSON.stringify(new_list)); //직렬화된 문자열을 파싱하여 배열로 변환
            let pos = 0;
            let match_Pos = 0;
            let nextpos = 0;
            let fnd_cnt = 0;
            let foundPos = 0;
            str_to_arr2 = [];
            while(true) {
                foundPos = conversion_str.indexOf('[', pos);
                if(foundPos == -1) 
                    break;
                if (fnd_cnt > 0) { //첫 번째 [ , 마지막 ] 는 처리하지 않음 
                    match_Pos = conversion_str.indexOf(']', nextpos);
                    if (foundPos > match_Pos) {
                        console.log("error!!!");
                        break;
                    }
                }
                pos = foundPos + 1;	// 다음 위치에서 다시 찾음
                fnd_cnt += 1;
                let imsi_str = "";
                if (fnd_cnt > 1) {
                    imsi_str = conversion_str.slice(pos, match_Pos);
                    strToArray(imsi_str, ",");
                    str_to_arr2.push(str_to_arr);
                    nextpos = match_Pos + 1;
                }
            }
        }
        //   직렬화된 문자열을 파싱하여 배열로 반환하는 함수 끝 *********************

        //   극장 데이터의 직렬화된 (딕셔너리 타입) 문자열을 파싱하여 배열로 반환하는 함수 시작 *********************
        var str_to_dict = [];
        function strToArray3(mystr) {  
            str_to_dict = [];
            // console.log("mystr");
            // console.log(mystr);
            const new_str = mystr.replace(/&#x27;/gi, "'"); //장고에서 문자열 홑따옴표는 크로스사이트 보안 문제로 이스케이프 문자열로 치환하여 보내주므로 다시 따옴표로 전환해야 함
            let foundPos = 0;
            let pos = 0;
            let nextpos = 0;
            let match_Pos = 0;
            let conversion_str = '';
            let fnd_cnt = 0;
            foundPos = new_str.indexOf('[', pos);
            if(foundPos > -1) {
                match_Pos = new_str.indexOf(']', pos);
                if(match_Pos > -1 && match_Pos > foundPos) {
                    conversion_str = new_str.slice(foundPos+1, match_Pos); // 배열 시작 및 끝 []제거
                }
            }
            
            while(true) {
                foundPos = conversion_str.indexOf('{', pos);
                if(foundPos == -1) 
                    break;
                match_Pos = conversion_str.indexOf('}', nextpos);
                if (foundPos > match_Pos) {
                    console.log("error!!!");
                    break;
                }
                pos = foundPos + 1;	// 다음 위치에서 다시 찾음
                nextpos = match_Pos + 1;
                fnd_cnt += 1;
                let imsi_str = "";
                imsi_str = conversion_str.slice(foundPos, nextpos);
                // console.log("imsi_str");
                // console.log(imsi_str);
                strToDictConv(imsi_str); 
                str_to_dict.push(str_to_dictionary);

                // str_to_dict = JSON.parse(JSON.stringify(str_to_dictionary)); 깊은 복사
            }
        }
        //   직렬화된 (딕셔너리 타입) 문자열을 파싱하여 배열로 반환하는 함수 끝 *********************

        // 서버 데이터를 리스트 타입으로 저장 ********************************************************
        // region_list 배열로 저장 시작 *****************************
        strToArray2('{{region_list}}'); // 서버쪽에서 2차원 배열로 데이터를 넘기더라도, 직렬화된 문자열로 받음
        var region2_arr = [];
        region2_arr = [...str_to_arr2];
        // console.log("region2_arr disp1 ");
        // console.log(region2_arr);
        //  region_list 배열로 저장 끝 *****************************

        // th_list(극장목록) 배열로 저장 시작 *****************************
        // console.log("theater_arr disp1 ");
        // console.log('{{th_list}}')
        const cnt = strToArray2('{{th_list}}'); // 서버에서 배열로 자료를 받기 때문에 strToArray3을 strToArray2로 바꿈 딕셔너리 타입의 데이터를 직렬화된 문자열로 받음
        str_to_dict = [...str_to_arr2]; //str_to_dict 이름을 배열명칭으로 바꿀 것
        // console.log("theater str_to_dict disp2 ");
        // console.log(str_to_dict); 
        // console.log('str_to_dict for문');
        // https://curryyou.tistory.com/202 딕셔너리 및 배열 반복문 사용법 참고할 것
        // for (let i =0; i < str_to_dict.length; i++) {
        //     console.log(str_to_dict[i]);
        //     for (key in str_to_dict[i]) {
        //         console.log(key);                
        //         console.log(str_to_dict[i][key]);
        //     }
        // }
        //  th_list(극장목록) 배열로 저장 끝 *****************************


        // date_list1 배열로 저장 시작 *****************************
        const imsi_date = '{{date_list1}}';
        // console.log("date_list1 ");
        // console.log(imsi_date);
        strToArray2('{{date_list1}}'); // 서버쪽에서 2차원 배열로 데이터를 넘기더라도, 직렬화된 문자열로 받음
        var date1_arr = [];
        date1_arr = [...str_to_arr2]; // 깊은 복사, 값을 복사 함
        // console.log("date_list1 disp1 ");
        // console.log(date1_arr);
        //  date_list1 배열로 저장 끝 *****************************

        // date_list2 배열로 저장 시작 *****************************
        strToArray2('{{date_list2}}'); // 서버쪽에서 2차원 배열로 데이터를 넘기더라도, 직렬화된 문자열로 받음
        var date2_arr = [];
        date2_arr = [...str_to_arr2]; // 깊은 복사, 값을 복사 함
        // console.log("date_list2 disp1 ");
        // console.log(date2_arr);
        //  date_list1 배열로 저장 끝 *****************************


        // schedule_list 배열로 저장 시작 *****************************
        strToArray2('{{schedule_list}}'); // 서버쪽에서 2차원 배열로 데이터를 넘기더라도, 직렬화된 문자열로 받음
        var schedule2_arr = [];
        schedule2_arr = [...str_to_arr2];
        // console.log("schedule2_arr disp1 ");
        // console.log(schedule2_arr);
        //  schedule_list 배열로 저장 끝 *****************************

        var click_movie_no = "";
        var click_region_no = "";
        var click_theater_no = "";
        var click_date_no = "";
        const btnList = document.querySelectorAll('.button_movie');
        // console.log(btnList);
        const region_tab = document.getElementById('region');
        const trList = document.querySelectorAll('#region tr');
        var regionBtnList = document.querySelectorAll('.button_region');
        var theaterBtnList = document.querySelectorAll('.button_theater');


        // console.log(trList);
        const theater_tab = document.getElementById('theater');
        const thList = document.querySelectorAll('#theater tr');
        // console.log(thList);

        const tbody1_datetab = document.getElementById('tbody1_date');
        const tbList1 = document.querySelectorAll('#tbody1_date tr');
        // console.log(tbList1);
        const tbody2_datetab = document.getElementById('tbody2_date');
        const tbList2 = document.querySelectorAll('#tbody2_date tr');
        var dateInputList1 = document.querySelectorAll('#tbody1_date input');
        var dateInputList2 = document.querySelectorAll('#tbody2_date input');
        const info1 = document.getElementById('info1'); //영화 선택내용  표출
        const info2 = document.getElementById('info2'); //극장 선택내용 표출
        const info2_2 = document.getElementById('info2_2'); //날짜 선택내용 표출
        const info3 = document.getElementById('info3'); //좌석선택 표출 info3, info4 jjjjj수정할 것

        const clickHandler = (event)=>{
            console.log("str_to_dict !!!");
            console.log(str_to_dict);
            click_movie_no = event.target.value;
            console.log(click_movie_no);
            info1.value = click_movie_no;
            info1.innerText = click_movie_no + ': ' + event.target.innerText;
             
            for(let j = 0; j < region2_arr.length; j++) {
                region2_arr[j][3] = 0; //지역별 극장갯수 0 초기화
            }
            for(let k = 0; k < str_to_dict.length; k++) {
                str_to_dict[k][3] = 0; //선택영화 상영중 극장갯수 0 초기화, 카운터가 아닌 플래그로 쓰임
            }

            for(let i = 0; i < schedule2_arr.length; i++) {
                // console.log( "schedule2_arr[i] : ");
                // console.log( schedule2_arr[i]);
                if (click_movie_no == schedule2_arr[i][4]) {
                    for(let j = 0; j < region2_arr.length; j++) {
                        if (schedule2_arr[i][13] == region2_arr[j][0]) { //지역번호
                            region2_arr[j][3] += 1; //선택한 영화를 상영하는 지역별 극장갯수 1 증가
                        }
                    }
                    for(let k = 0; k < str_to_dict.length; k++) {
                        if (schedule2_arr[i][9] == str_to_dict[k][0]) { //극장번호
                            str_to_dict[k][3] = 1; //선택한 영화를 상영하는 극장의 플래그 셋팅
                        }
                    }
                }
            }

            region_tab.innerHTML = "";
            for(let i = 0; i < trList.length ; i++){
                const tr = trList[i];

                let mynum = 0;
                for(let k = 0; k < str_to_dict.length; k++) { 
                    if (str_to_dict[k][3]==1 && str_to_dict[k][2] == region2_arr[i][0]) { //상영중인 극장이면서 지역이 일치
                        mynum += 1;
                    }
                }
                const mynum_str = mynum.toString();

                // tr.innerText = region2_arr[i][1] +'(' + str1 + ')';

                tr.innerHTML = '<button class="button_region" type="button" value="' +
                                region2_arr[i][0] +'" >' + region2_arr[i][1] + '(' + mynum_str + ') </button>'; 

                // console.log("tr.innerHTML");
                // console.log(tr.innerHTML);
                region_tab.appendChild(tr);
            }


            theater_tab.innerHTML = "";
            for(let i = 0; i < thList.length ; i++){
                var th = thList[i];
                // th.classList.add('notonmovie');
            }

            // for(let i = 0; i < thList.length ; i++){                
            for(let i = 0; i < str_to_dict.length ; i++){
                th = thList[i];
                // console.log("str_to_dict");   // 극장 
                // console.log(str_to_dict[i]);

                // const th_no = str_to_dict[i]['no'];
                const th_no = str_to_dict[i][0];
                // console.log("극장번호 ");
                // console.log(th_no);
                let th_flag = 0;
                for(let j = 0; j < schedule2_arr.length ; j++){
                    if (th_no == schedule2_arr[j][9]) { //상영중 극장이 있는 경우
                        if (click_movie_no == schedule2_arr[j][4]) { //상영중 영화가 있는 경우
                            th_flag = 1;
                            break;
                        }
                    }
                }
                if (th_flag == 1) {
                    th.innerHTML = '<button class="button_theater" type="button" style="color:#000000;" value="' +
                                    str_to_dict[i][0] + '" >' + str_to_dict[i][1] + '</button>'; 
                } else {
                    th.innerHTML = '<button class="button_theater" type="button" style="color:#d7dce0;" value="' +
                                    str_to_dict[i][0] + '" >' + str_to_dict[i][1] + '</button>'; 
                } 
               theater_tab.appendChild(th);
            }

            // 선택한 영화의 상영날짜만 검정색 폰트, 나머지는 흐리게
            tbody1_datetab.innerHTML = "";
            for(let i = 0; i < tbList1.length ; i++){
                tb1 = tbList1[i]; //tr 태그
                let tb1_flag = 0;
                for(let j = 0; j < schedule2_arr.length ; j++){
                    // console.log("date comp !!!");
                    // console.log(date1_arr[i][0]);
                    // console.log(schedule2_arr[j][1]);
                    if (date1_arr[i][0] == schedule2_arr[j][1]) { //상영날짜가 있는 경우
                        if (click_movie_no == schedule2_arr[j][4]) { //상영중 영화가 있는 경우
                            tb1_flag = 1;
                            break;
                        }
                    }
                }
                if (tb1_flag == 1) {
                    tb1.innerHTML = '<input class="input_date" type="button" style="color:#000000;" value="' +
                        date1_arr[i][0] + '(' + date1_arr[i][4] + ')">'; 
                } else {
                    tb1.innerHTML = '<input class="input_date" type="button"  style="color:#d7dce0;" value="' +
                        date1_arr[i][0] + '(' + date1_arr[i][4] + ')">'; 
                        
                }
                tbody1_datetab.appendChild(tb1);
            }
            
            tbody2_datetab.innerHTML = "";
            for(let i = 0; i < tbList2.length ; i++){
                tb2 = tbList2[i]; //tr 태그
                let tb2_flag = 0;
                for(let j = 0; j < schedule2_arr.length ; j++){
                    if (date2_arr[i][0] == schedule2_arr[j][1]) { //상영날짜가 있는 경우
                        if (click_movie_no == schedule2_arr[j][4]) { //상영중 영화가 있는 경우
                            tb2_flag = 1;
                            break;
                        }
                    }
                }
                if (tb2_flag == 1) {
                    tb2.innerHTML = '<input class="input_date" type="button" style="color:#000000;" value="' +
                        date2_arr[i][0] + '(' + date2_arr[i][4] + ')">'; 
                } else {
                    tb2.innerHTML = '<input class="input_date" type="button"  style="color:#d7dce0;" value="' +
                        date2_arr[i][0] + '(' + date2_arr[i][4] + ')">'; 
                        
                }
                tbody2_datetab.appendChild(tb2);
            }
            dateInputList1 = document.querySelectorAll('#tbody1_date input');
            dateInputList2 = document.querySelectorAll('#tbody2_date input');
            // console.log("dateInputList1");
            // console.log(dateInputList1);

            dateInputList1.forEach(di1 => di1.onclick = di1clickHandler);
            dateInputList2.forEach(di2 => di2.onclick = di1clickHandler);

            regionBtnList = document.querySelectorAll('.button_region'); 
            regionBtnList.forEach(rbtn => rbtn.onclick = RegionclickHandler);

            theaterBtnList = document.querySelectorAll('.button_theater'); 
            theaterBtnList.forEach(tbtn => tbtn.onclick = TheaterclickHandler);

        }
        btnList.forEach(btn => btn.onclick = clickHandler);

        const RegionclickHandler = (event)=>{
            console.log("click Region !!!");
            click_region_no = event.target.value;
            console.log(click_region_no);
            console.log( "str_to_dict.length");
            console.log( str_to_dict.length);
            info2.innerText = click_region_no + ': ' + event.target.innerText;

            theater_tab.innerHTML = ""; //극장 테이블 내용 전부 삭제
            for(let i = 0; i < str_to_dict.length ; i++){ // 선택한 지역의 극장 데이터만 표출
                // th = thList[i]; 
                // const Region_no = str_to_dict[i]['Region_no']; 배열로 바뀌면서 참조방법이 다름
                const Region_no = str_to_dict[i][2];
                console.log("str_to_dic region_no ");
                console.log(Region_no);

                let th_flag = 0;
                if (click_region_no == Region_no) { 
                    const newTr = document.createElement("tr");
                    const newTd = document.createElement("td");
                    newTd.innerHTML = '<button class="button_theater" type="button" style="color:#000000;" value="' +
                                    str_to_dict[i][0] + '" >' + str_to_dict[i][1] + '</button>'; 
                    newTr.appendChild(newTd);
                    theater_tab.appendChild(newTr);
                }
            }
            theaterBtnList = document.querySelectorAll('.button_theater'); 
            theaterBtnList.forEach(tbtn => tbtn.onclick = TheaterclickHandler);

        }
        regionBtnList.forEach(rbtn => rbtn.onclick = RegionclickHandler);

        const TheaterclickHandler = (event)=>{
            click_theater_no = event.target.value;
            info2.value = click_theater_no;
            info2.innerText = click_theater_no + ': ' + event.target.innerText;
        }
        theaterBtnList.forEach(tbtn => tbtn.onclick = TheaterclickHandler);

        const di1clickHandler = (event)=>{
            click_date_no = event.target.value;
            const click_date = click_date_no.slice(0, 10);
            info3.value = 3; // 1 영화 2 극장 3 상영스케줄
            // info3.innerText = '일시 : ' + click_date_no;
            info2_2.value = click_date;
            info2_2.innerText = '일시 : ' + click_date_no;
            // console.log(click_date, click_movie_no, click_theater_no);
            console.log("click_date");
            console.log(click_date);
            console.log("click_movie_no");
            console.log(click_movie_no);
            console.log("click_theater_no");
            console.log(click_theater_no);
            csrftoken = getCookie('csrftoken');            
            console.log("csrftoken : " + csrftoken);
            if (click_movie_no.length > 0 && click_theater_no.length > 0) {
                let myArr = [click_movie_no, click_theater_no, click_date];
                console.log(myArr);
                // const mydata = JSON.stringify(myArr);
                console.log(myArr);
                // csrftoken = getCookie('csrftoken');
                console.log("csrftoken : " + csrftoken);
                makeRequest(myArr); //ajax 호출
            }
        }
        dateInputList1.forEach(di1 => di1.onclick = di1clickHandler);
        dateInputList2.forEach(di2 => di2.onclick = di1clickHandler);



    </script>

{% endblock %}




