{% extends 'layout\mycgv_layout.html' %}
{% block style %}
<style>
</style>
{% endblock %}
{% block body_script_mycgv %}
<script>
    $(document).ready(function(){
        $('#btnradio1').click(function(){
            window.location.href = "/user/mycgv/myevent/";
        });
        $('#btnradio2').click(function(){
            window.location.href = "/user/mycgv/myevent/result";
        });
    });
</script>
{% endblock %}
{% block body_main_mycgv %}
<div class="container">
<p><strong>이벤트 참여내역</strong></p>
<div class="btn-group btn-group-lg" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
    <label class="btn btn-outline-danger" for="btnradio1">응모내역</label>
  
    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
    <label class="btn btn-outline-danger" for="btnradio2">당첨자 발표</label>
</div>
    <div class="container" >
        <div style="background-color: gray;">
            <hr>
            <div class="row">
                <div class="col d-flex">
                    이벤트 타입
                </div>
                <div class="col-6 d-flex">
                    제목
                </div>
                <div class="col d-flex">
                    기간
                </div>
                <br>
            </div>
            <hr>
        </div>
        {% for event in events %}
        <div class="row">
            <div class="col d-flex align-items-center">
                <span style="font-size: 15px;">{{ event.eb_type }}</span>
            </div>
            <div class="col-6 d-flex align-items-center">
                <a href="/user/mycgv/myevent/detail?code={{event.event_no}}">
                {{ event.ebc_name }} 당첨자 발표
                </a>
            </div>
            <div class="col d-flex align-items-center">
                <span style="font-size: 10px;">{{ event.event_start }} ~ {{ event.event_end }}</span>
            </div>
            <br>
            <br>
            <hr>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}