{% extends 'layout\manager_layout.html' %}

{% block head_mycgv %}

<script type="text/javascript">


  function statenext(){

    const next = document.getElementById('next');
    const vv = document.querySelector('input[name="state"]:checked').value;
    
    next.action="/manager/giftcon/" + vv

  }

  function returnUrl(){

  const return_url = document.getElementById('return_url');

  const url = window.location.href;
  console.log(url)
  return_url.value = url
  }


 </script>

{% endblock %}


{% block body_main_mycgv %}

<div>
    <h4>기프트콘 관리</h4>
  </div>
    <form id="next" method="post" action="">
      {% csrf_token %}
    {% for g in giftconstate %}
      {% if g.gs_no == num %}
        <label><input type="radio" name="state" value="{{g.gs_no}}" checked>{{g.giftcon_state}}</label>
      {% else %}
        <label><input type="radio" name="state" value="{{g.gs_no}}" >{{g.giftcon_state}}</label>
      {% endif %}
    {% endfor %}

    <input type="submit" value="확인" onclick="javascript:statenext()">  
    <a href="/manager/giftcon"><button type="button">전체보기</button>  </a>
    </form>



  <table class="table" style="border-bottom: 20px;">
    <thead class="table-group-divider">
        <tr>
          
          <th scope="col">기프트콘 NO</th>
          <th scope="col">기프트콘 번호</th>
          <th scope="col">기프트콘 이름</th>
          <th scope="col">사용자 ID</th>
          <th scope="col">기프트콘 만료일</th>
          <th scope="col">기프트콘 상태</th>

          
        </tr>
    </thead>
  
    <tbody >
        {% for g in giftcon %}
          <form id="formtable" action="/manager/state" method="post" >
            {% csrf_token %}
          <input type="hidden" name="giftcon_no" value="{{g.giftcon_no}}">
          
          <tr>
          
          <td>{{g.giftcon_no}}</td>
            <td>{{g.giftcon_number}}</td>
            {% if g.pp_no_id == None %}
              <td>{{g.sp_no.sp_name}}</td>
            {% else %}  
              <td>{{g.pp_no.pp_name}}</td>
            {% endif %}
            <td>{{g.user_no.member_id}}</td>
            <td>{{g.giftcon_period}}</td>
            <td>{{g.gs_no.giftcon_state}}
              {% if g.gs_no_id == 1 %}
              <button>사용하기</button>
              {% elif g.gs_no_id == 2 %}
              <button>사용취소</button>
              {% endif %}
    
          </tr>
          </form>
        {% empty %}
        <tr>
          <td colspan="6">기프트콘이 없습니다.</td>
        </tr>
          
        {% endfor %}
          
    </tbody>
  </table>





  <form  action="{% if num != '' %}/manager/giftcon/{{num}}{% else %}/manager/giftcon{% endif %}" method="get" align="right">
    <select name="mode">
      {% if mode == '1' %}
      <option value="1" selected>기프트콘 번호</option>
      <option value="2">아이디</option>
      <option value="3">이름</option>
      {% elif mode == '2' %}
      <option value="1">기프트콘 번호</option>
      <option value="2" selected>아이디</option>
      <option value="3">이름</option>
      {% elif mode == '3' %}
      <option value="1">기프트콘 번호</option>
      <option value="2">아이디</option>
      <option value="3" selected>이름</option>
      {% else %}
      <option value="1">기프트콘 번호</option>
      <option value="2">아이디</option>
      <option value="3">이름</option>
      {% endif %}

    </select>

    <input type="text" name="search" value="{{search}}">
    <button>검색</button>

  </form>




    <div style="text-align: center; margin-top: 10px;">
      <!-- 첫페이지 이전페이지 -->
      {% if giftcon.has_previous %}  <!-- 이전이 있으면 true -->]
        {% if num == None %}
          <a href="/manager/giftcon=1{% if mode != None %}&mode={{mode}}&search={{search}}{% endif %}">[&lt;&lt;]</a>
          <a href="/manager/giftcon?page={{giftcon.previous_page_number}}{% if mode != None %}&mode={{mode}}&search={{search}}{% endif %}">[&lt;]</a>
        {% else %}
          <a href="/manager/giftcon/{{num}}=1{% if mode != None %}&mode={{mode}}&search={{search}}{% endif %}">[&lt;&lt;]</a>
          <a href="/manager/giftcon/{{num}}?page={{giftcon.previous_page_number}}{% if mode != None %}&mode={{mode}}&search={{search}}{% endif %}">[&lt;]</a>    
        {% endif %}
      {% else %}
          [&lt;&lt;]
          [&lt;]
      {% endif %}


      <!-- 숫자창 -->
      {% for page_number in giftcon.paginator.page_range %}
          {% if start_page <= page_number and end_page >= page_number %}
              {% if page_number == giftcon.number %}
                  <span style="font-weight: bolder; color: black;">[{{ page_number }}]</span>
              {% else %}
                {% if num == None %}
                  <a href="/manager/giftcon?page={{page_number}}{% if mode != None %}&mode={{mode}}&search={{search}}{% endif %}">[{{ page_number }}]</a>
                  <input type="hidden" name = 'search' value="{{search}}" >
                {% else %}
                <a href="/manager/giftcon/{{num}}?page={{page_number}}{% if mode != None %}&mode={{mode}}&search={{search}}{% endif %}">[{{ page_number }}]</a>
                <input type="hidden" name = 'search' value="{{search}}" >
                {% endif %}
              {% endif %}
          {% endif %}
      {% endfor %}


      <!-- 마지막페이지 다음페이지 -->
      {% if giftcon.has_next %}<!-- 이후가 있으면 true -->
        {% if num == None %}
          <a href="/manager/giftcon?page={{ giftcon.next_page_number}}{% if mode != None %}&mode={{mode}}&search={{search}}{% endif %}">[&gt;]</a>
          <a href="/manager/giftcon?page={{last_page}}{% if mode != None %}&mode={{mode}}&search={{search}}{% endif %}">[&gt;&gt;]</a>
        {% else %}
          <a href="/manager/giftcon/{{num}}?page={{ giftcon.next_page_number}}{% if mode != None %}&mode={{mode}}&search={{search}}{% endif %}">[&gt;]</a>
          <a href="/manager/giftcon{{num}}?page={{last_page}}{% if mode != None %}&mode={{mode}}&search={{search}}{% endif %}">[&gt;&gt;]</a>        
        {% endif %}
      
      {% else %}
          [&gt;]
          [&gt;&gt;]
      {% endif %}
  </div> 








{% endblock %}

