@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
.image-container {
    position: relative;
    display: inline-block;
}
#ab_1 {
    position: absolute;
    top: 56.63%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color:blue;
    width:39%; 
    height:2.2%;
}
#ab_52 {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color:brown;
    width:71%; 
    height:2.2%;
}
#cb_11 {
    position: absolute;
    top: 61.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color:blue;
    width:43%; 
    height:3%;
}
#mb_4 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color:brown;
    width:65%; 
    height:2.2%;
}
#mb_16 {
    position: absolute;
    top: 31.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color:skyblue;
    width:100%; 
    height:4%;
}
#mb_7 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color:skyblue;
    width:60%; 
    height:4%;
}
#mb_8 {
    position: absolute;
    top: 15.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color:red;
    width:90%; 
    height:1.5%;
}
#mb_9 {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color:purple;
    width:90%; 
    height:4%;
}
#mb_10 {
    position: absolute;
    top: 75.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color:red;
    width:65%; 
    height:4.5%;
}
#mb_12 {
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color:green;
    width:65%; 
    height:1.8%;
}
#mb_15 {
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color:purple;
    width:65%; 
    height:1.8%;
}
#mb_21 {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color:pink;
    width:65%; 
    height:1.8%;
}
#mb_22 {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color:pink;
    width:65%; 
    height:1.8%;
}
#mb_24 {
    position: absolute;
    top: 56.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color:blue;
    width:80%; 
    height:1.8%;
}