{% extends 'layout/layout.html' %}
{% block style%}
{% endblock %}
{% block script %}
<script>
    $(document).ready(function() {
        var login = '{{login}}';
        $("#vbtn-radio1").click(function() {
        window.location.href = "/support/";
    });
        $("#vbtn-radio2").click(function() {
        window.location.href = "/support/frequency";
    });
    $("#vbtn-radio3").click(function() {
        window.location.href = "/support/news";
    });
        $("#vbtn-radio4").click(function(){
        if(login == 'None'){
            alert("로그인 해주세요");
            window.location.href = "/user/login?returnURL=/support/email";
        }
        else{
            window.location.href = "/support/email";
        }
    });
        $("#vbtn-radio5").click(function() {
        window.location.href = "/support/group";
    });
    
    
});
</script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3 d-flex flex-column">
            <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
                <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off">
                <label class="btn btn-outline-danger" for="vbtn-radio1">고객센터 메인</label>
                <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off" checked>
                <label class="btn btn-outline-danger" for="vbtn-radio2">자주 찾는 질문</label>
                <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio3" autocomplete="off">
                <label class="btn btn-outline-danger" for="vbtn-radio3">공지 뉴스</label>
                <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio4" autocomplete="off">
                <label class="btn btn-outline-danger" for="vbtn-radio4">이메일 문의</label>
                <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio5" autocomplete="off">
                <label class="btn btn-outline-danger" for="vbtn-radio5">단체/대관 문의</label>
            </div>
        </div>
        <div class="col">
            <table style="font-size: 12px; width: 80%;">
                <tr>
                    <th>
                        [{{freq.fqo_name}}]
                    </th>
                    <th>
                        {{freq.fq_title}}
                    </th>
                    <th style="padding-left:4%;">
                        조회수:{{freq.fq_regdate}}
                    </th>
                    <th style="padding-left:13%;">
                        등록일:{{freq.fq_hit}}
                    </th>
                </tr>
            </table>
            <br><br>
            <tr style="font-size:15px">
                <td colspan="4">
                내용: {{freq.fq_content}}
                </td>
            </tr>
            <div style="margin-top:15%;">
                <table style="font-size: 15px; width: 80%;">
                    <tr style="border-bottom:1px solid gray; border-top: 1px solid gray;">
                        <td style="height: 50px;">
                            다음글▲
                        </td>
                        <td style="padding-left:4%; height: 50px;">
                            {% if af_freq == None %}
                             다음글이 없습니다.
                            {% else %}
                            <a href="/support/detail/?no={{af_freq.fq_no}}">{{af_freq.fq_title}}</a>
                            {% endif %}
                        </td>
                        <td style="height: 50px;">
                            {{af_freq.fq_regdate}}
                        </td>
                    </tr>
                    <tr style="border-bottom:1px solid gray; height: 50px;">
                        <td style="height: 50px;">
                            이전글▼
                        </td>
                        <td style="padding-left:4%; height: 50px;">
                            {% if pr_freq == None %}
                            이전글이 없습니다.
                            {% else %}
                            <a href="/support/detail/?no={{pr_freq.fq_no}}">{{pr_freq.fq_title}}</a>
                            {% endif %}
                        </td>
                        <td style="height: 50px;">
                            {{pr_freq.fq_regdate}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
        {% endblock %}